/*============================================================
    Footer
============================================================*/

#footer {
  background-color: #121116;
  padding: 115px 0 35px;
}

.social {
  margin-bottom: 85px;
}


.author {
  font-size: 15px;
  font-weight: 600;
  color: #fff;
}


